
@{
    Layout = "~/Views/Shared/_LayoutProducts.cshtml";
}

@using Misaar.Models

@model AllFilesModel

@if(Model.Products.Any(p => p.Discount != null))
{
   <a href=@Url.Action("List", "Discount")>
    <div class="row hidden-xs" id="discountBanner">
        <div class="pull-left col-md-2 col-sm-2"><img src="~/Images/gift.png" class="gift-img" alt="gift" /></div>
        <div class="pull-left col-md-8 col-sm-8"><h3 class="discountText" id="blink"><span>СКИДКИ!</span></h3></div>
        <div class="pull-left col-md-2 col-sm-2"><img src="~/Images/discount.png" class="discount-img" alt="discount" /></div>
    </div>
   </a>
}

@Html.Partial("~/Views/Shared/_PartialShowArticle.cshtml")
<br />

