@using Misaar.Models
@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

@model AllFilesModel

<div style="min-height:900px; margin-bottom:20px">
    @foreach (var category in Model.Categories)
    {
        <a href=@Url.Action("GetItem", "Product", new { id = category.GenerateSlug() })>
            <div style="float:left; margin-top:15px; padding:5px; background-color:rgba(36, 104, 41, 0.72); width:97%">
                @if (category.Files.Any(f => f.FileType == FileType.Avatar))
                {
                    <div style="margin-right:15px;float:left">
                        <img src="~/File?id=@category.Files.First(f => f.FileType == FileType.Avatar).Id" alt="avatar" width="100" height="75" />
                    </div>
                }

                <h5 style="margin-top:0; color:white">@category.Name</h5>
            </div>
        </a>
    }
</div>




