@using Misaar.Models
@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

@model AllFilesModel

<div class="mobile-container">
    @foreach (var category in Model.Categories)
    {
        <a href=@Url.Action("GetItem", "Product", new { id = category.GenerateSlug() })>
            <div class="mobile-item">
                @if (category.Files.Any(f => f.FileType == FileType.Avatar))
                {
                    <div class="mobile-item-img pull-left">
                        <img src="~/File?id=@category.Files.First(f => f.FileType == FileType.Avatar).Id" alt="avatar" />
                    </div>
                }

                <h5 class="mobile-item-header">@category.Name</h5>
            </div>
        </a>
    }
</div>




