<div style="min-height:500px">
    <br/>
    <h3>Ваше сообщение успешно отправлено! Наши менеджеры свяжутся с Вами в ближайшее время.</h3>
    <br />
    @Html.ActionLink("Вернуться на главную", "Index", "Home", new { @class = "btn btn-primary" })
</div>
    
