@{
    Layout = null;
}

@using Misaar.Models

@model AllFilesModel


@foreach (var item in Model.Articles)
{
    <div class="maincontainer">
        @if (item.Name != null)
        {
            <h2 class="text-center">@item.Name</h2>
        }
        @if (item.Pictures.Any(p => p.PictureType == PictureType.Main))
        {           
                if (item.Align == "Слева")
                {
                    <div class="pull-left mainpicture mainpicture-left">
                        <img src="~/Picture?id=@item.Pictures.First(f => f.PictureType == PictureType.Main).Id" alt="производство пиломатериалов Беларусь" />
                    </div>
                }
                else
                {
                    <div class="pull-right mainpicture mainpicture-right">
                        <img src="~/Picture?id=@item.Pictures.First(f => f.PictureType == PictureType.Main).Id" alt="производство пиломатериалов Беларусь" />
                    </div>
                }           
        }
        <input type="hidden" id="article-body" value="@item.Body" />
        <div class="article-body"></div>        
    </div>
}

<script>
    var myJavaScriptValue = document.getElementById("article-body").value;
     var articleDiv = document.querySelector("div.article-body");
     articleDiv.innerHTML = myJavaScriptValue;
</script>


