body {
    padding-top: 75px;
    padding-bottom: 20px;
    background-image:url('../Images/grabo__dub__ice__white__5.jpg');
    background-size:cover; 
    font-size: 16px;     
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;           
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 350px;
}

.main-page-banner{
    background:url(../Images/misaarwood.jpg) no-repeat;
    background-size:100%;    
    height:250px; 
    margin-bottom:20px;   
}

@media (max-width: 992px){
    .main-page-banner{
        height:200px;
    }
}

.banner-phones{   
    margin: 65px 25px 15px 0;   
    font-weight: bold;
    color: azure;
    font-size: 18px;    
}

#send-phone-form{
    width:300px;
    height:350px;
    background-color:cornflowerblue;
    opacity:0;
    transition: 1.5s;
    position:fixed;
    top:150px; 
    left:0; 
    z-index:-1;
    padding: 10px 10px 10px 10px;
    text-align:center;
    font-size:18px;
    color:whitesmoke;
    border-radius:0 10px 10px 0;
}

.send-phone-number{
    padding-left:20px;
    padding-right:20px;
    padding-top:90px;
    margin-bottom:77px;
}

#send-phone-xbutton{
    opacity:0.75;
}

#send-phone-xbutton:hover{
    opacity:1;
}

#phoneButton{
    width: 100%;
    max-width:250px;
    margin-right:15px;    
    margin-bottom:10px;
    float:left;
    padding-top:10px;
}

#messageButton{
    width: 100%;
    max-width:250px;  
    padding-top:10px;    
}

#phoneButton img, #messageButton img{
    width: 30px;
    height: 30px;
    margin-left: -10px;
    margin-bottom: 2px;
}

.product-img{
    display:inline-block;
    margin-right:15px; 
    margin-bottom:15px;  
    max-width: 320px;
    width: 50%;  
}

.product-img img{    
    width: 100%;
}

.product-header{
    margin-top: 0;     
}

.product-minprice{
    display:block;
    font-size: 16px;   
}

.product-description{
    text-align:justify;
    padding-top:45px;  
    padding-bottom: 40px; 
    line-height:1.7;
    font-size:16px;
    height:auto;
}

@media(max-width: 768px){
    .product-description{
        line-height:1.4;
        font-size: 16px;
    }
}

.feedback-phone-btn{
    padding-top: 25px; 
    width: 65%;
    margin: 0 auto;      
}

footer{
   background-color: #222222;
   border-color: #080808;
   color:white;
   margin-top:25px;
}

.navbar-brand {
  float: left;
  padding: 27px 15px 48px 25px;
  font-size: 22px;
  line-height: 20px;
  background-color:white; 
}


.navbar-nav > li > a {
    padding-top: 27px;
    padding-bottom: 15px;
    line-height: 20px;
}

.navbar-inverse .navbar-nav > li > span {
    color: whitesmoke;
}

.navbar-inverse .navbar-nav > li > span:hover {
    color: darkorange;
}

.navbar-inverse .navbar-nav > li > a {
    color: whitesmoke;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: darkorange;
}

.well {
  min-height: 130px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f5f5f5;  
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.feedback{
    background: rgb(67, 128, 173); 
    background:rgba(67, 128, 173, 0.6);     
    margin-top:20px;
    padding:15px;
}

.asterix{
    margin-bottom:-30px;
    width: 7px; 
}

.btn-text{
    margin-bottom:15px;
    margin-right:15px;
    color:black;
}

.btn-text:hover{
    color:white;    
}

.table tbody > tr > td.group{
    padding-top:0;
}

.table tbody > tr > td.group a{
    color:darkred;
}

.table tbody > tr > td.group a:hover{
    color:darkgreen;
    text-decoration:none;
}

.maincontainer{
    text-align:justify;
    margin-top:15px;
    margin-bottom:25px;    
    line-height:2;
    font-size:18px;
    min-height:350px;
}

.productTable{
    border:1px;
    width: 100%;
    max-width:845px;        
    text-align:center;            
    font-size:15px;            
}

.productTable caption{
    text-align:center;
    color:black;
}

.tableHead{
    font-weight:bold; 
    background-color:#101010; 
    color:lightgray;
}

.table-bordered > tbody > tr > td{
    border-color:darkgray;
}

.delivery ul li{
    margin-left:390px;
}

.form-align{
    margin-bottom:-6px;
}

.form-align-mail{
    margin-top:5px;
}

.form-align-message{
    margin-top:0;
}

#discountBanner{
    background:linear-gradient(to bottom, whitesmoke, darkgreen);
    height:80px;
    border:3px solid #eb7d05;
    border-radius:15px;
    padding:15px 0 15px 0;
    margin-left:-5px;
    margin-right:-5px;    
}

#discountBanner:hover{
    transform:scale(1.02);
    transition-duration:1s;
}

.discountText{
    color:ghostwhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:24px;
    margin-left:20px;
}

.discountText span{
    margin-right:30px;
}

.gift-img{
    margin-top:-25px; 
    margin-right:20px;
    width: 100px;
}

.discount-img{
    margin-top:-25px; 
    margin-left:-30px;
    width: 140px;
}

#blink {
  -webkit-animation: blink 4s linear infinite;
  -moz-animation: blink 4s linear infinite;
  animation: blink 4s linear infinite;
}

@-webkit-keyframes blink {
  50% { color: transparent; }
  51% { color: rgba(34, 34, 34, 0 ); }
  100% { color: rgba(34, 34, 34, 0 ); }
}

@-moz-keyframes blink {
  50% { color: transparent; }
  51% { color: rgba(34, 34, 34, 0 ); }
  100% {
        color: rgba(34, 34, 34, 0 );
    }
}

@keyframes blink {
  50% { color: transparent; }
  51% { color: rgba(34, 34, 34, 0 ); }
  100% { color: rgba(34, 34, 34, 0 ); }
}

.navig > li { 
    list-style:none;
    display:block;
    float: left;
    font-size:16px;
}

.navig > li > a {
    display: block;                
    padding:5px;
    margin: 4px 5px;
    background-color: #222222;                
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
}

.navig a:hover{
    background-color: whitesmoke;
    color: darkgreen;
}

.navig span {
    display: block;                
    padding:5px;
    margin: -21px -5px 4px -35px;
    background-color: #222222;                
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
}

.navig span:hover{
    background-color: whitesmoke;
    color: darkgreen;
}

.navig > li > span{
    margin: 5px 0 0 -40px;
}

#mobileNav{
    background-color:#222222;
    height:32px;
    margin-top:15px;   
}


  
